<form [formGroup]="productForm" (ngSubmit)="onSubmit()" id="main-panel">
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <h4 *ngIf="isAddMode" class="card-title">Add New Product</h4>
        <h4 *ngIf="!isAddMode" class="card-title">Edit Product</h4>
      </div>
      <div class="card-body">
        <form class="form-horizontal">
          <div class="row">
            <label class="col-md-3 col-form-label">ID</label>
            <div class="col-md-9">
              <div class="form-group">
                <input formControlName="id" type="text" class="form-control" placeholder="" />
              </div>
            </div>
          </div>

          <div class="row">
            <label class="col-md-3 col-form-label">Name</label>
            <div class="col-md-9">
              <div class="form-group">
                <input formControlName="name" type="text" class="form-control" placeholder=""/>
              </div>
            </div>
          </div>

          <div class="row">
            <label class="col-md-3 col-form-label">Product Type</label>
            <div class="col-md-9">
              <div class="form-group">
                <input formControlName="productType" type="text" class="form-control"  placeholder=""/>
              </div>
            </div>
          </div>
           <div class="row">
             <label class="col-md-3 col-form-label">Attributes</label>
             <div class="col-sm-6">
                   <table class="table" >
                     <tbody *ngFor="let attribute of productAttributes | keyvalue">
                     <tr>
                       <td style="width: 300px">{{attribute.key}}</td>
                       <td style="width: 150px">{{attribute.value}}</td>
                     </tr>
                     </tbody>
                   </table>
             </div>
           </div>

          <div class="row">
            <label class="col-md-3 col-form-label">Prices</label>
            <div class="col-sm-6">
              <table class="table" >
                <tbody *ngFor="let price of productPrices | keyvalue">
                <tr>
                  <td style="width: 300px">{{price.key}}</td>
                  <td style="width: 150px">{{price.value | currency:'USD'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <label class="col-md-3 col-form-label">Images</label>
            <div class="col-sm-6">
              <table class="table" >
                <tbody *ngFor="let image of productImages | keyvalue">
                <tr>
                  <td style="width: 300px">{{image.key}}</td>
                  <td style="width: 150px"> <a href="{{image.value }}">{{image.value }}</a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer ">
        <div class="row">
          <label class="col-md-3"></label>
          <div class="col-md-6" style="border-left: 100px">
            <button type="submit" [disabled]="loading" class="btn btn-info btn-round">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Save </button>
            <a routerLink="/products/productList" class="btn btn-danger btn-round">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

